<!-- <h1>UpperCase Pipe</h1>
<b>{{title | uppercase}}</b><br>

<h1>LowerCase Pipe</h1>
<b>{{title | lowercase}}</b><br>

<h1>Currency Pipe</h1>
<b>{{ 6589.5 | currency : "INR" : false}}</b><br>
<b>{{ 6589.5 | currency : "INR" : true}}</b><br> -->

<h1>Date Pipe</h1>
<b>{{todaydate | date : 'd/M/y'}}</b><br><br>
<b>{{todaydate | date : 'shortTime'}}</b><br><br>
<b>{{todaydate | date : 'short'}}</b><br><br>
<b>{{todaydate | date : 'medium'}}</b><br><br>
<b>{{todaydate | date : 'long'}}</b><br><br>
<b>{{todaydate | date : 'full'}}</b><br><br>
<b>{{todaydate | date : 'shortDate'}}</b><br><br>
<b>{{todaydate | date : 'mediumDate'}}</b><br><br>
<b>{{todaydate | date : 'MMMM d, y'}}</b><br><br>
<b>{{todaydate | date : 'h:mm:ss a'}}</b><br><br>

<router-outlet></router-outlet>