<h1>Our Product Catalog</h1>

<style>
    table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.34);
  border-style:inset;
}
</style>

<table>
    <tr>
        <th>Product</th>
        <th>Quantity per Unit</th>
        <th>Price (USD)</th>
        <th>Category</th>
    </tr>
    <tr>
        <td>Chai</td>
        <td>10 boxes x 20 bags</td>
        <td>18</td>
        <td>Beverages</td>
    </tr>
    <tr>
        <td>Chang</td>
        <td>24 - 12 oz bottles</td>
        <td>19</td>
        <td>Beverages</td>
    </tr>
    <tr>
        <td>Sasquath Ale</td>
        <td>24 - 12 oz bottles</td>
        <td>14</td>
        <td>Beverages</td>
    </tr>
    <tr>
        <td>Steeleye Stout</td>
        <td>24 - 12 oz bottles</td>
        <td>18</td>
        <td>Beverages</td>
    </tr>
    
    <tr>

        <td>Cote de Blaye</td>

        <td>12-75 cl bottles</td>

        <td>263.5</td>

        <td>Beverages</td>

    </tr>

 

   

    <tr>

        <td>Chartreuse Verte</td>

        <td>750 cc per bottle</td>

        <td>18</td>

        <td>Beverages</td>

    </tr>

 

   

    <tr>

        <td>Ipoh Coffee</td>

        <td>16-500g tins</td>

        <td>46</td>

        <td>Beverages</td>

    </tr>

 

   

    <tr>

        <td>Laughing Lumberjack Lager</td>

        <td>24-12 oz bottles</td>

        <td>14</td>

        <td>Beverages</td>

    </tr>

 

   

    <tr>

        <td>Outback Lager</td>

        <td>24-355 ml bottles</td>

        <td>15</td>

        <td>Beverages</td>

    </tr>

 

   

    <tr>

        <td>Rhonbrau Klosterbier</td>

        <td>24-12 oz bottles</td>

        <td>19</td>

        <td>Beverages</td>

    </tr>

 

   

    <tr>

        <td>Lakkalikoori</td>

        <td>500 ml</td>

        <td>18</td>

        <td>Beverages</td>

    </tr>

 

   

    <tr>

        <td>Aniseed syrup</td>

        <td>12-550 ml bottles</td>

        <td>10</td>

        <td>Condiments</td>

    </tr>

 

   

    <tr>

        <td>Chef Anton's Cajun seasoning</td>

        <td>48-6 oz jars</td>

        <td>22</td>

        <td>Condiments</td>

    </tr>

 

   

    <tr>

        <td>Grandma's Boysenberry Spread</td>

        <td>18-8 oz jars</td>

        <td>25</td>

        <td>Condiments</td>

    </tr>
</table>